{% extends 'base.html.twig' %}
{% block title %}ProStage | Listes des stages chez {{ entreprise.nom}}{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			{% set nbrStage = 0 %}
				{% for unStage in stage %}
					{% if unStage.entreprise.id == entreprise.id %}
						{% set nbrStage = nbrStage + 1 %}
					{% endif %}
				{% endfor %}
			<h3>{{nbrStage}} stage(s) : {{ entreprise.nom}}</h3>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Entreprise</th>
						<th>Titre</th>
						<th>Mission</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					
					{% set pasDeStage = true %}
					{% for unStage in stage %}
						{% if unStage.entreprise.id == entreprise.id %}
							{% set pasDeStage = false %}
							<tr>
								<th scope="row">{{unStage.entreprise.nom}}</th>
								<td><a href="{{path('affichageStage', {id:unStage.id})}}">{{unStage.titre}}</a></td>
								<td>{{unStage.mission}}</td>
							</tr>
						{% endif %}	
					{% endfor %}
					{% if pasDeStage == true %}
						<tr>
							<th scope="row">Vide</th>
								<td>Vide</td>
								<td>Vide</td>
							</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
