{% extends 'base.html.twig' %}
{% block title %}ProStage | Stages n° {{stage.id}} {% endblock %}


{% block body %}

<div class="row">
		<div class="col-md-12" style="margin:15px;">
			<div class="card bg-default">
				<h5 class="card-header">
					<strong>Information générale :</strong> 
				</h5>
				<div class="card-body">
					<p class="card-text">
						<strong>Titre :</strong>  {{stage.titre}}
					</p>
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Mission :</strong>  {{stage.mission}}
					</p>
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Email :</strong>  {{stage.email}}
					</p>
				</div>
				<div class="card-footer"></div>
			</div>
		
		
			<div class="card">
				<h5 class="card-header">
					<strong>Information entreprise  :</strong>
				</h5>
				<div class="card-body">
					<p class="card-text">
						<strong>Nom :</strong><a href="{{path('affichageStageParEntreprise', {id:stage.entreprise.id})}}">{{stage.entreprise.nom}}</a>
					</p>
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Activite :</strong> {{stage.entreprise.activite}}
					</p>
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Site Web :</strong> {{stage.entreprise.URLsite}}
					</p>
				</div>
				<div class="card-footer">
					<strong>Adresse :</strong>{{stage.entreprise.adresse}}
				</div>
			</div>
		</div>
	</div>
	<right><button type="button" class="btn btn-success" style="margin-left:30px;"></right>
			Postulez !
		</button>
{% endblock %}
